
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.glow {
    box-shadow: 0 0 10px 2px #fff, 0 0 20px 4px #fff, 0 0 30px 6px #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.purple {
    background-color: purple;
}